login {
    display: block;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

login header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: rgb(66, 133, 244);
    height: 160px;
    padding: 20px 30px;
}

login header title {
    display: block;
    font-size: 20px;
    color: #FFFFFF;
}

login content {
    display: flex;
    flex-direction: column;
    background: rgb(238, 238, 238);
    height: 340px;
    padding: 20px 30px 20px;
}

login footer {
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: rgb(228, 228, 228);
}