.context-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 100006;
}
.context-menu:not([open]) {
  display: none;
}
.context-menu__list {
  width: 256px;
  background-color: white;
  list-style: none;
  padding: 8px 32px 8px 32px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.38);
}
.context-menu__item {
  padding: 8px;
  border-radius: 4px;
}
.context-menu__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.context-menu__list .context-menu__list {
  display: none;
}
.context-menu__list .context-menu__item-list:hover .context-menu__list {
  display: block;
}
.context-menu__separator {
  height: 1px;
  width: 100%;
  margin: 8px 0 8px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.38);
}
