/*
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"),
         local("MaterialIcons-Regular"),
         url(../fonts/MaterialIcons-Regular.woff2) format("woff2"),
         url(../fonts/MaterialIcons-Regular.woff) format("woff"),
         url(../fonts/MaterialIcons-Regular.ttf) format("truetype");
}
*/

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.woff2?v=1.1.0") format("woff2"),
         url("../fonts/Roboto-Regular.woff?v=1.1.0") format("woff"),
         url("../fonts/Roboto-Regular.ttf?v=1.1.0") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Roboto-Medium.woff2?v=1.1.0") format("woff2"),
         url("../fonts/Roboto-Medium.woff?v=1.1.0") format("woff"),
         url("../fonts/Roboto-Medium.ttf?v=1.1.0") format("truetype");
}

*,
*:active,
*:focus,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    outline: none;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    /*background-color: #000000;*/
    overflow: hidden;
}

main {
    height: 100%;
}

img {
    pointer-events: none;
}

img.avatar {
    border-radius: 50%;
}

center {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.debug {
    border: 3px solid #FF0000;
    background: rgba(255, 0, 0, 0.1);
}
