html,
body {
    background: #1F1F1F;
    color: #FFFFFF;
}

body {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container .top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    height: 48px;
}

.container .top .time {
    font-family: "Roboto Condensed";
    font-size: 28px;
}

.container .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 140px;
    flex: 1;
}

.container .login .heads {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container .login .heads .head:not(.ghost):not(.active) {
    cursor: pointer;
}

.container .login .heads .head.active {
    height: 140px;
    width: 140px;
}

.container .login .heads .head.ghost {
    background: transparent;
}

.container .login .heads .head {
    height: 94px;
    width: 94px;
    border-radius: 50%;
    background-image: url(../images/user.png);
    background-size: contain;
    margin: 0 20px;
}

.container .login .form {
    margin-top: 40px;
}

.container .login .form .title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.85);
}

.container .login .form .password input {
    background: transparent;
    border: none;
    width: 340px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

.container .login .form .password input:focus {
    border-color: rgba(255, 255, 255, 0.9);
}

.container .login.error .form .password input:focus {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    border-color: rgba(255, 71, 71, 0.9);
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.container .bottom {
    display: flex;
    height: 120px;
    justify-content: center;
}

.container .bottom img {
    height: 40px;
    width: 40px;
}