.toolbar {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    z-index: 10005;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    font-size: 1.2em;
    background: #222;
    height: 54px;
}

.toolbar.transparent {
    background: rgba(25, 25, 25, 0.95);
}

.toolbar ul,
.toolbar ol {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.toolbar li {
    display: inline-flex;
    list-style: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.toolbar .apps {
    align-self: flex-start;
    flex: 1;
}

.toolbar .apps #app_launcher {
    background-image: url(../icons/apps_light.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 14px 16px;
    border-color: rgba(255, 255, 255, 0) !important;
}

.toolbar .apps li {
    height: 54px;
    width: 54px;
    float: left;
    padding: 0.8em;
    vertical-align: middle;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: border-color .1s ease-in-out;
}

.toolbar .apps li.active {
    border-color: rgba(255, 255, 255, 1);
}

.toolbar .apps li.inactive {
    border-color: rgba(255, 255, 255, 0.15);
}

.toolbar .apps li:first-child {
    padding: 0.65em 0.55em;
    font-size: 1.3em;
}

.toolbar .apps li:hover {
    background: rgba(255, 255, 255, 0.05);
}

.toolbar .apps li img {
    height: 24px;
    width: 24px;
}

.toolbar .tray {
    height: 54px;
    align-self: flex-end;
}

.toolbar .tray:hover {
    background: rgba(255, 255, 255, 0.05);
}

.toolbar .tray li {
    height: 54px;
    border-radius: 2px;
    vertical-align: bottom;
}

.toolbar .tray li#clock {
    font-size: 16px;
    font-weight: 400;
    padding: 1.18em 0 0 1.18em;
}

.toolbar .tray li#user {
    padding: 0.78em;
}

.toolbar .tray li img#userprofile {
    border-radius: 50%;
    height: 24px;
    width: 24px;
}
