.launcher {
    display: none;
    /*display: flex;*/
    flex-direction: row;
    position: absolute;
    bottom: 52px;
    left: 0;
    width: 425px;
    height: 450px;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 8px;
}

.launcher .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F5F5F5;
    width: 54px;
}

.launcher .apps {
    flex: 1;
    background: #FFFFFF;
    border-top-right-radius: 8px;
}