@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    src: url("../../assets/fonts/RobotoCondensed-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 500;
    src: url("../../assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans CJK JP";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/NotoSansCJKjp-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Noto Sans CJK KR";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/NotoSansCJKkr-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Noto Sans CJK TC";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/NotoSansCJKtc-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Noto Sans CJK SC";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/NotoSansCJKsc-Regular.otf") format("opentype");
}

*,
*:active,
*:focus,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    outline: none;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: "Roboto", "Noto Sans CJK JP", "Noto Sans CJK KR", "Noto Sans CJK TC", "Noto Sans CJK SC", sans-serif;
    /*background-color: #000000;*/
    overflow: hidden;
}

main {
    height: 100%;
}

img {
    pointer-events: none;
}

img.avatar {
    border-radius: 50%;
}

center {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.debug {
    border: 3px solid #FF0000;
    background: rgba(255, 0, 0, 0.1);
}
