html,
body {
    height: 100%;
    background: #1F1F1F;
    color: #FFFFFF;
}

body {
    display: none;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 124px;
    width: 124px;
}

#error {
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    left: 50%;
    bottom: 15%;
}