<div id="window-{{ id }}" class="window active" style="width: {{ width }}px; height: {{ height }}px;">
    <div class="window-box">
        <header class="window-title" unselectable="on">
            <h1 unselectable="on">{{ title }}</h1>
            <div class="window-buttons">
                <button class="window-minimize" onClick="WindowManager.getWindow('{{ id }}').close();">&nbsp;</button>
                <button class="window-maximize" onClick="WindowManager.getWindow('{{ id }}').maximize();">&nbsp;</button>
                <button class="window-close" onClick="WindowManager.getWindow('{{ id }}').close();">&nbsp;</button>
            </div>
        </header>
        <section class="window-content">{{ content }}</section>
        <button class="window-resize">&nbsp;</button>
    </div>
</div>