.notifications {
    position: absolute;
    z-index: 10001;
    bottom: 70px;
    right: 0;
}

.notifications.pos-top-right {
    top: 50px !important;
}

.notifications.pos-bottom-right {
    bottom: 70px !important;
}

.notifications.pos-right-pad {
    right: 14px !important;
}

.notification {
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    width: 380px;
    padding: 14px 20px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
}

.notification .content {
    display: flex;
}

.notification .content .message {
    flex: 1;
}

.notification .content .image {
    flex: 0;
}

.notification .app {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
}

.notification .app img {
    display: inline-block;
    float: left;
    height: 16px;
    margin-right: 5px;
}

.notification .content .message .title {
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 4px;
    vertical-align: bottom;
}

.notification .content .message .text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}

.notification .content .image img {
    display: block;
    border-radius: 50%;
    margin-left: 8px;
    height: 42px;
}
