.wm-space.expose .wm-window:hover {
    box-shadow: 0px 0px 40px #000088;
}

.wm-space.expose .wm-window.active, .wm-space.expose .wm-window {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: top 0.5s ease-out, left 0.5s ease-out;
    transition: top 0.5s ease-out, left 0.5s ease-out;
}

.wm-space.expose .wm-window.active section.wm-content, .wm-space.expose .wm-window section.wm-content {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wm-space.fullscreen .wm-window {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.wm-space.fullscreen header.wm-window-title {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    height: 50px;
    font-size: 40px;
    padding: 40px 50px;
    background: transparent;
}

.wm-space.fullscreen header.wm-window-title .wm-button-group {
    display: none;
}

.wm-space.fullscreen header.wm-window-title h1 {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    font-size: 40px;
}

.wm-space.fullscreen section.wm-content {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    padding: 0 40px;
}

.wm-space.fullscreen .wm-resize {
    display: none;
}


/* Animations */

@keyframes appear {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
    } 100% {
        -webkit-transform: rotate(1, 1);
        transform: rotate(1, 1);
    }
}

@keyframes close {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    } 100% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
    }
}


/* Window styles */

.wm-window {
    display: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    position: absolute;
    min-width: 200px;
    min-height: 60px;
    background-color: #FFF;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.15);
}

.wm-window .wm-window-overlay {
    display: none;
}

.wm-window .wm-window-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 60px;
    width: 100%;
}

.wm-window .wm-window-box header.wm-window-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    height: 36px;
    min-height: 36px;
    background: #F5F5F5;
    color: rgba(0, 0, 0, 0.7);
    border: 0;
    padding: 0 8px;
    overflow: hidden;
}

.wm-window .wm-window-box header.wm-window-title h1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    padding: 0;
    padding-left: 8px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

.wm-window .wm-window-box header.wm-window-title .wm-button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2px;
}

.wm-window .wm-window-box header.wm-window-title button {
    display: inline-block;
    border: 0;
    background-repeat: no-repeat;
    background-color: #365d98;
    color: #FFFFFF;
    margin: 0;
    margin-left: 3px;
    padding: 0;
    width: 15px;
    height: 15px;
    opacity: .7;
}

.wm-window .wm-window-box header.wm-window-title button:hover {
    opacity: 1;
}

.wm-window .wm-window-box header.wm-window-title button.wm-close {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QkIxOUQwNTEzMDM0MTFFMkI5MUFGMzlFMTgwOEI4ODEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QkIxOUQwNTIzMDM0MTFFMkI5MUFGMzlFMTgwOEI4ODEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpCQjE5RDA0RjMwMzQxMUUyQjkxQUYzOUUxODA4Qjg4MSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpCQjE5RDA1MDMwMzQxMUUyQjkxQUYzOUUxODA4Qjg4MSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PpFaWsQAAABxSURBVHjajJDRDcAgCERtJ2AER+oIjuZIHcER3IBCvDYX5KMklwg8lPNQ1fI3TjpfJgl9QX2F32yquuI2CWqCXNH/YFejgUpgexmGeUAjmMH+9AA4aKUN5h174qFkYEs8CMNuaMYdkc/sNySAW/0RYABjHiW8yydeWwAAAABJRU5ErkJggg==) no-repeat 1px 1px;
}

.wm-window .wm-window-box header.wm-window-title button.wm-maximize {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QkIxOUQwNTUzMDM0MTFFMkI5MUFGMzlFMTgwOEI4ODEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QkIxOUQwNTYzMDM0MTFFMkI5MUFGMzlFMTgwOEI4ODEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpCQjE5RDA1MzMwMzQxMUUyQjkxQUYzOUUxODA4Qjg4MSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpCQjE5RDA1NDMwMzQxMUUyQjkxQUYzOUUxODA4Qjg4MSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqAiG1YAAAA7SURBVHjaYvz//z8DsYAJSj8E4v948AdkxSSZDALyQMyIBQtgU0ySyQOomAWJ/RCPuo8ggpGUSAEIMACTWxDft/Hl3wAAAABJRU5ErkJggg==) no-repeat 1px 1px;
}

.wm-window .wm-window-box header.wm-window-title button.wm-minimize {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NzYwRDNDRkMzMDM5MTFFMkI5MUFGMzlFMTgwOEI4ODEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NzYwRDNDRkQzMDM5MTFFMkI5MUFGMzlFMTgwOEI4ODEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpCQjE5RDA1NzMwMzQxMUUyQjkxQUYzOUUxODA4Qjg4MSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpCQjE5RDA1ODMwMzQxMUUyQjkxQUYzOUUxODA4Qjg4MSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsZJjdUAAAAlSURBVHjaYvz//z8DsYCJgQQwqhgZsCCx8QU4I7piRkImAwQYAJ10BBYiYyqTAAAAAElFTkSuQmCC) no-repeat 1px 1px;
}

.wm-window .wm-window-box header.wm-window-title.hide {
    display: none;
}

.wm-window .wm-window-box section.wm-content {
    display: block;
    flex: 1;
    min-height: 60px;
    overflow-x: hidden;
    overflow-y: auto;
}

.wm-window .wm-window-box button.wm-resize {
    position: absolute;
    bottom: 0;
    right: 4px;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: se-resize;
    -webkit-user-select: none;
    user-select: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QzREODAwQzcyRjZDMTFFMjg5NkREMENBNjJERUE4Q0IiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QzREODAwQzgyRjZDMTFFMjg5NkREMENBNjJERUE4Q0IiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDNEQ4MDBDNTJGNkMxMUUyODk2REQwQ0E2MkRFQThDQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDNEQ4MDBDNjJGNkMxMUUyODk2REQwQ0E2MkRFQThDQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuQy0VQAAACLSURBVHjaYpw9ezYDEUARiO8zEaHQHohPArEcCxEK1wGxPxA/wmeyDZLCIyABJjwKNwJxEFShIi7FyAoPArEZEB8DYi0mHFaHIikEaUwE4mtMWBRGAPE+NIU7kJ0BUxiNQyFInpMJKgFTuBuLQj8gXg3yJCicHyFZDQJfgDgOqhEE3gGxD8jNAAEGADlXJQUd3J75AAAAAElFTkSuQmCC) no-repeat;
    height: 15px;
    width: 10px;
}

.wm-window.disabled * {
    -webkit-user-select: none;
    user-select: none;
}

.wm-window.disabled .wm-window-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    z-index: 30000;
}

.wm-window.inactive * {
    -webkit-user-select: none;
    user-select: none;
}

.wm-window.inactive header.wm-window-title {
    background-color: #888;
}

.wm-window.inactive header.wm-window-title h1 {
    color: #bbb;
}

.wm-window.active .wm-content * {
    -webkit-user-select: text;
    user-select: text;
}

.wm-window.noresizable .wm-window-box header.wm-window-title button.wm-maximize, .wm-window.noresizable .wm-window-box header.wm-window-title button.wm-minimize {
    display: none;
}

.wm-window.noresizable .wm-window-box section.wm-content {
    overflow-y: hidden;
}

.wm-window.noresizable .wm-window-box button.wm-resize {
    display: none;
}

.wm-window.minimizing, .wm-window.maximazing {
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-out;
}

.wm-window.closing {
    animation: close 0.1s 1 ease-in forwards;
}

.wm-window.opening {
    animation: appear 0.2s 1 ease-out forwards;
}

.wm-window.resizing {
    transition: none;
}

.wm-window.move {
    /*animation: wobbly 0.5s 0.2s infinite;*/
}

.wm-window.move * {
    -webkit-user-select: none;
    user-select: none;
}

.wm-window.closed {
    display: none;
}

.wm-space {
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    height: calc(100% - 3.35em);
    overflow: hidden;
    z-index: -1;
    cursor: default;
}

.wm-space .wm-overlay {
    -webkit-user-select: none;
    user-select: none;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
